<!DOCTYPE html> 
<html>
    <head>
        <title>Family Tree</title>
    </head>
    <body>

<div class="navbar">
    <div class="nav-left">
        <label>Your's Home<i class="fa fa-fw fa-home"></i></label>
    </div>
  <!-- <label>Your's Home<i class="fa fa-fw fa-home"></i></label> -->
  
  <div class="nav-right">
  <a class="active" href="Home.html"><i class="fa fa-fw fa-home"></i> Home</a>
  <!-- <a class="hover-centre" href="Home.html"><i class="fa fa-fw fa-user"></i> Home</a> -->
  <a class="active" href="/upload"><i class="fa fa-fw fa-user"></i> Create</a>
  <a class="active" href="/view"><i class="fa fa-fw fa-user"></i> View Tree</a>
  <!-- <a class="hover-centre" href="/register"><i class="fa fa-fw fa-user"></i> Profile</a> -->
  <!-- <a class="arange"><i class="fa fa-fw fa-search"></i> Search</a>
  <input type="text" placeholder="type here.."> -->
</div>
</div>


<!-- <div class="container">
    <img src="familyUtree.jpg" id="animals" alt="Ftree" style="height: 200px;" width="200px">
</div> -->
<!-- <img src="../family-tree/familyUtree.jpg" alt="eiffel"> -->
<!-- <img src="https://pixabay.com/photos/rose-flower-petals-red-rose-320868/" alt="flower"> -->
<!-- <p style="background-image: url('../family-tree/familyUtree.jpg');">
    Know Your Family<br>
    Everyone is born into a family that sets the stage for future relationships.<br>
    People without the knowledge of their past history, <br>
    origin and culture is like a tree without roots.<br>
    Recording our own history, will open the opportunity for<br>
    future generations to connect with us when we are gone.<br>
    Connecting with members of our family past and present <br>
    by learning their history fills an innate need in each one of us.
</p> -->
</body>
</html>
<!-- <form style="text-align: center;" [formGroup]="loginFormData" (ngSubmit)="onClickSubmit() ">
  <br><br>
  <h1>Family Tree</h1>
  <div>
      <label for="login">Username: </label>
      <input type="text" formControlName="emailId" id="login" name="username" placeholder="Enter username." required><br><br>
      <label for="password">Password: </label>
      <input type="password" formControlName="password" id="password" name="password" placeholder="Enter password." required> <br>
      <br> 
      <input type="submit" value="Login"/>
      <br><br>
      <label>Not an existing user? </label><a href= "/register" style="color: blanchedalmond;">click here</a> -->


