<!DOCTYPE html>
<html>
    <head>
        <!-- <style>
             #circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;

      /* background:image("familyUtree.jpg"); */
        }
         </style> -->
      </head>
      <body>
        <!-- <div id="content">
            <h1>Heading here</h1>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor <em>sit</em> amet.</p>
            <hr>
          </div>
          
          <div id="nav">
            <ul>
              <li>item 1</li>
              <li>item 2</li>
              <li>item 3</li>
            </ul>
          </div> -->
        <svg width="400" height="150">
            <defs>
               <clipPath id="myCircle">
                  <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
               </clipPath>
            </defs>
            <image width="400" height="200" xlink:href="./assets/images/tree.jpg" clip-path="url(#myCircle)" />
         </svg>
         <!-- codepen -->
        <!-- <div class="tree">
            <ul>
              <li>
                <svg width="400" height="150">
                    <defs>
                       <clipPath id="myCircle">
                          <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                       </clipPath>
                    </defs>
                    <image width="400" height="200" xlink:href="./assets/images/hmn.jpg" clip-path="url(#myCircle)" />
                 </svg>
                 
                
                
                <ul>
                  <li>
                    <svg width="400" height="150">
                    <defs>
                       <clipPath id="myCircle">
                          <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                       </clipPath>
                    </defs>
                    <image width="400" height="200" xlink:href="./assets/images/hmn.jpg" clip-path="url(#myCircle)" />
                 </svg>
                    <ul>
                      <li>
                        <a href="#">Grand Child</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Child</a>
                    <ul>
                      <li><a href="#">Grand Child</a></li>
                      <li>
                        <a href="#">Grand Child</a>
                        <ul>
                          <li>
                            <a href="#">Great Grand Child</a>
                          </li>
                          <li>
                            <a href="#">Great Grand Child</a>
                          </li>
                          <li>
                            <a href="#">Great Grand Child</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Grand Child</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->
         <!-- <div id="circle"></div> -->
         <!-- sof family tree 1 -->
         <!-- <div class="tree">
            <ul>
            <li>
                <div class="family">
                    <div class="person child male">
                        <div class="name">Grandfather</div>
                    </div>
                <div class="parent">
                  <div class="person female">
                    <div class="name">Grandmother</div>
                  </div>
                  <ul>
                    <li>
                      <div class="family" style="width: 172px">
                        <div class="person child male">
                          <div class="name">Uncle</div>
                        </div>
                        <div class="parent">
                          <div class="person female">
                            <div class="name">Wife of Uncle</div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="family" style="width: 172px">
                        <div class="person child female">
                          <div class="name">Aunt</div>
                        </div>
                        <div class="parent">
                          <div class="person male">
                            <div class="name">Husband of Aunt</div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="family" style="width: 344px">
                        <div class="person child female">
                          <div class="name">Mother</div>
                        </div>
                        <div class="parent">
                          <div class="person male">
                            <div class="name">Father</div>
                          </div>
                          <ul>
                            <li>
                              <div class="person child male">
                                <div class="name">Me</div>
                              </div>
                            </li>
                            <li>
                              <div class="person child female">
                                <div class="name">Sister</div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="person spouse male">
                          <div class="name">Spouse</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                </div>
            </li>
            </ul>
            </div> -->
     <!-- sof family tree 2 -->
     <div class="tree">
        <div class="generationone">
            <div class="person male grandparent">
                <div class="name">PaternalGrandFather</div>
                <svg width="400" height="150">
                    <defs>
                       <clipPath id="myCircle">
                          <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                       </clipPath>
                    </defs>
                    <image width="400" height="200" xlink:href="./assets/images/hmn.jpg" clip-path="url(#myCircle)" />
                 </svg>
            </div>
            <div class="person spouse female grandparent">
                <div class="name">PaternalGrandMother</div>
                <svg width="400" height="150">
                    <defs>
                       <clipPath id="myCircle">
                          <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                       </clipPath>
                    </defs>
                    <image width="400" height="200" xlink:href="./assets/images/fmlhmn.png" clip-path="url(#myCircle)" />
                 </svg>
           </div>
           <div class="person male grandparent">
            <div class="name">MaternalGrandFather</div>
            <svg width="400" height="150">
                <defs>
                   <clipPath id="myCircle">
                      <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                   </clipPath>
                </defs>
                <image width="400" height="200" xlink:href="./assets/images/hmn.jpg" clip-path="url(#myCircle)" />
             </svg>
        </div>
        <div class="person spouse female grandparent">
            <div class="name">MaternalGrandMother</div>
            <svg width="400" height="150">
                <defs>
                   <clipPath id="myCircle">
                      <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                   </clipPath>
                </defs>
                <image width="400" height="200" xlink:href="./assets/images/fmlhmn.png" clip-path="url(#myCircle)" />
             </svg>
       </div>
      </div><!-- end one -->
      <div class="generationonetwo">
            <!-- <div class="person male child">
                    <div class="name">Uncle</div>
            </div> -->
        <!-- <div class="person spouse female">
                 <div class="name">Wife of Uncle</div>
             </div> -->
            <!-- <div class="person child female">
                <div class="name">Aunt</div>
            </div> -->
            <!-- <div class="person spouse male">
                    <div class="name">Husband of Aunt</div>
            </div> -->
            <div class="person paternal male">
                    <div class="name">Father</div>
                    <svg width="400" height="150">
                        <defs>
                           <clipPath id="myCircle">
                              <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                           </clipPath>
                        </defs>
                        <image width="400" height="200" xlink:href="./assets/images/hmn.jpg" clip-path="url(#myCircle)" />
                     </svg>
            </div>
            <div class="person spouse child female">
                    <div class="name">Mother</div>
                    <svg width="400" height="150">
                        <defs>
                           <clipPath id="myCircle">
                              <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                           </clipPath>
                        </defs>
                        <image width="400" height="200" xlink:href="./assets/images/fmlhmn.png" clip-path="url(#myCircle)" />
                     </svg>
            </div>
            
      </div><!-- end two -->
      <div class="generationonetthree">
            <div class="person child male">
                    <div class="name">Me</div>
                    <svg width="400" height="150">
                        <defs>
                           <clipPath id="myCircle">
                              <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                           </clipPath>
                        </defs>
                        <image width="400" height="200" xlink:href="./assets/images/human.png" clip-path="url(#myCircle)" />
                     </svg>
            </div>
        <!-- <div class="person child female">
             <div class="name">Sister</div>
        </div> -->
            <!-- <div class="person spouse male">
                    <div class="name">Spouse</div>
            </div> -->
        </div><!-- end three -->
        <div class="generationonetfour">
            <div class="person child male">
                    <div class="name">child1</div>
                    <svg width="400" height="150">
                        <defs>
                           <clipPath id="myCircle">
                              <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                           </clipPath>
                        </defs>
                        <image width="400" height="200" xlink:href="./assets/images/human.png" clip-path="url(#myCircle)" />
                     </svg>
            </div>
        <div class="person child female">
             <div class="name">child2</div>
             <svg width="400" height="150">
                <defs>
                   <clipPath id="myCircle">
                      <circle cx="200" cy="100" r="50" fill="#FFFFFF" />
                   </clipPath>
                </defs>
                <image width="400" height="200" xlink:href="./assets/images/fmlhmn.png" clip-path="url(#myCircle)" />
             </svg>
        </div>
            <!-- <div class="person spouse male">
                    <div class="name">Spouse</div>
            </div> -->
        </div><!-- end four -->
    </div><!-- end tree -->
        </body>
</html>



